* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bc-body{
    width: 100%;
    height: auto;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.logo{
    width: 30%;
    height: auto;
}
.btn{
    background-color: #a6c0fe;
}

.btn-secondary{
    display: flex;
    justify-content: center;
}

.nav-bg-color{
    background-image: linear-gradient(120deg, #274a9b 0%, #f68084 100%);
    border-radius: 20px;
}
.w-50{
    width: 50%;
    margin:0 auto;
}
.navbar-dark {
    --bs-navbar-color: rgba(66, 65, 65, 0.865);
}

h4{
    padding-top: 0.5rem;
    text-align: center;
}
.max-altura{
    height: 80vh;
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 35%;
}

.max-red{
    width: 2%;
}


.footer_formularios_fijo{
    background-color: transparent;
    padding: 0.5rem;
    padding-top: 1.5rem;
    width: 100%;
    bottom:0rem;
    left:1rem; 
    position:fixed;
}
/****** ANIMACION FONDO BURBUJAS */
.burbuja{
    border-radius: 50%;
    background-color: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;

    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left:5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left:35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left:15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){
    width: 70px;
    height: 70px;
    left:65%;
    animation-duration: 6s;
    animation-delay: 2s;
}
.burbuja:nth-child(5){
    width: 50px;
    height: 50px;
    left:90%;
    animation-duration: 6s;
    animation-delay: 3s;
}
.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left:50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left:50%;
    animation-duration: 4s;
    animation-delay: 3s;
}


/*****************  ANIMACION ********************************/
.shadow-pop-tr {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

 @-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
/****************************************/  
 
@media screen and (min-width: 320px) and (max-width: 480px) {
    .max-altura{
        margin-left: 0;
    }
    .footer_formularios_fijo{
        
        position:relative;
    }
     

}